h2{
  text-align:center;
  color:	black;
  text-decoration: underline;
  font-size:300%;
  font-family:"Comic Sans";
}
#writing{
  color:	black;
  font-family:"Comic Sans";
  font-size: 200%
}
body{
  background-image: linear-gradient(to right,#99b3ff, #ccd9ff);
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 30.33%;
  padding: 50px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
