h2{
  text-align:center;
  color:	#ff6666;
  text-decoration: underline;
  font-size:300%;
  font-family:"Comic Sans";
}
#writing{
  color:	#ff6666;
  font-family:"Comic Sans";
  font-size: 300%
}
body{
  background-image: linear-gradient(to right,#99b3ff, #ccd9ff);
}
