.musictitle{
  color:white;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 450%;
<!-- PROBLEM
.card{
  width: 400rem;
}
p{
  font-size:200%;
}
.quote{
  text-align: center;
  color: white;
  opacity: 0.8;
}

body {
  background-color: #f8f9fa!important;
}
.panel-body1{
  background-color:	#00b8ff ;
}
/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
