#grad1{
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7vw;
    text-align: center;
}

body{
  background-image: linear-gradient(to right,#006652, #99ffeb);
}
p{
color: 	 #800000;
font-family: "Comic Sans"
font-size: 50%x;
}
#firststudytip{
color: #800000;
}
a:link{
  color:blue;
}
a:hover{
  color:#ccccff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
