.ScienceTip{
  text-align: center;

}
.jumbotron-heading{
  font-size: 450%
}
.STtitle{
  text-align: center;
}
.notesT{
  text-align: center;
}
.motivationT{
  text-align: center;
}
.motivationtext{
  text-align: center;
}
#nextstudy{
  text-align: center;
}

a:link{
  color:blue;
}
a:hover{
  color:#ccccff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
