h1 {
  color:red;
  font-family:"Comic Sans";
  text-align:center;
}
body{
  background-image: linear-gradient(to right,#cc99ff,  #e6ccff);
}
p{
  font-size:120%;
  font-family: "Comic Sans";
  color: #006080;

}
